<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POSt" action="/listings">
        <input name="listing[title]" placeholder="enter title">
        <br>
        <input name="listing[description]" placeholder="enter description">
        <br>
        <input name="listing[image]" placeholder="enter image">
        <br>
        <input name="listing[price]" placeholder="no" type="number">
        <br>
        <input type="listing[country]" name="country name" placeholder="country">
        <br>
        <input type="listing[location]" name="location" placeholder="location">
        <br>
        <button>Add</button>
    </form>
</body>
</html>